{{ define "title" }}Blog - {{ .Site.Title }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <section class="blog-list">
    <h2>Blog Posts:</h2>
    <div class="blog-entries">
      {{ range .Pages.ByDate.Reverse }}
      <article class="blog-entry">
        <span class="date">{{ .Date.Format "2006 Jan 02" }}</span>
        <span class="separator">-</span>
        <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
      </article>
      {{ end }}
    </div>
  </section>
{{ end }}
