{{ define "title" }}Code - {{ .Site.Title }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <section class="blog-list">
    <h2>Projects:</h2>
    <div class="blog-entries">
      {{ $projectsFile := readFile "data/projects.json" | transform.Unmarshal }}
      {{ $projects := index $projectsFile "projects" }}
      {{ range $projects }}
      <article class="blog-entry">
        {{ $date := index . "date" }}
        {{ $title := index . "title" }}
        {{ $url := index . "url" }}
        <span class="date">{{ $date }}</span>
        <span class="separator">-</span>
        {{ $isExternal := hasPrefix $url "http" }}
        <a href="{{ $url }}" {{ if $isExternal }}target="_blank"{{ end }} class="title">{{ $title }}</a>
      </article>
      {{ end }}
    </div>
  </section>
{{ end }}
