{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="home-content">
    <div class="left-section">
      {{ .Content }}
      <nav class="home-nav">
        <a href="{{ .Site.Params.cv_url | relURL }}" class="home-nav-link" target="_blank">Curriculum Vitae</a>
        <a href="{{ "research" | relURL }}" class="home-nav-link">Research</a>
        <a href="{{ "blog" | relURL }}" class="home-nav-link">Blog</a>
      </nav>
      <img src="{{ .Site.Params.profile_image | relURL }}" alt="{{ .Site.Title }}" class="profile-photo">
    </div>
  </div>
{{ end }}
